@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

@mixin mediaMd {
  @media screen and (min-width: 768px) {
    @content;
  }
}
